header {
	
	text-align: center;
}

header h1 {
	
	
	font-family: 'Satisfy', cursive;
	font-size: 4em;
}

header.jumbotron {
	
	background-color: rgb(212, 239, 223);
}

footer {
	
	text-align: center;
}

a:link {
	
	color: black;
}

a:visited {
	
	color: purple;
}

a:hover {
	
	text-decoration: none !important;
	font-weight: bold;
	color: black !important;
}

nav {
	
	padding-top: 12px;
	padding-bottom: 12px;
}
nav .btn {
	
	background-color: rgb(212, 239, 223);
}

